# Update .gitattributes
src/data/raw/**/*.json filter=lfs diff=lfs merge=lfs -text
src/data/chunks/**/*.json filter=lfs diff=lfs merge=lfs -text
src/vector_storage/chroma/**/*.sqlite3 filter=lfs diff=lfs merge=lfs -text
src/vector_storage/chroma/**/*.bin filter=lfs diff=lfs merge=lfs -text
src/vector_storage/chroma/**/*.pickle filter=lfs diff=lfs merge=lfs -text

* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
